@import url(https://fonts.googleapis.com/css2?family=Raleway);
@import url(https://fonts.googleapis.com/css2?family=Amatic+SC);
@import url(https://fonts.googleapis.com/css2?family=Great+Vibes);

body,
ul {
    margin: 0px;
    padding: 0px;
}

#menu a {
    color: black;
    text-decoration: none;
    font-family: 'Great Vibes';
    font-size: 1.85em;
    text-transform: initial;
    transition: 0.3s;
}

#menu a:hover {
    color: rgba(65, 63, 63, 0.664);
    font-size: 1.95em;
    transition: 0.3s;
    text-shadow: 4px 4px 6px #0000007a;
}

#logo img:hover {
    box-shadow: 4px 4px 6px #0000007a;
    transition: 0.3s;
}

#logo img {
    float: left;
    height: 55px;
    position: relative;
    top: 0px;
    left: 0px;
}

#header {
    width: 100%;
    position: relative;
    z-index: 90;
    box-sizing: border-box;
    height: 75px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(250, 212, 106, 0.952);
    box-shadow: 4px 4px 6px #0000007a;
}

#header figcaption {
    font-family: 'Amatic SC';
    -webkit-text-stroke: 1px black;
    color: #d6c99e;
    font-size: 35px;
}

#menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
}

@media (max-width: 600px) {
    #menu {
        display: block;
        position: absolute;
        width: 15em;
        top: 70px;
        right: 0px;
        background: #d6c99e;
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        padding-left: 5px;
        visibility: hidden;
        overflow-y: hidden;
    }

    #menu li {
        padding-top: 30px;
        padding-bottom: 0px;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    }

    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow: hidden;
    }

    #hamburger {
        border-top: 2px solid;
        /* Melhorando hamburger >>> Espessura da Linha */
        width: 30px;
        /* Alterando a Largura do hamberger */
        color: rgb(0, 0, 0);
        /* Alterando a Cor do hamburer */
    }

    #hamburger::after,
    #hamburger::before {
        content: '';
        display: block;
        width: 30px;
        /* Alterando a Largura do hamburger */
        height: 2px;
        background: currentColor;
        margin-top: 4px;
        /* Altera o Espaçamento Entre o hamburger */
        position: relative;
        border-top: 2px solid;
        /* Melhorando Hamburger >>> Espessura da Linha */
    }

    #nav.active #hamburger {
        border-top-color: transparent;
    }

    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }

}
